@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
:root {
    --color-grey: #b5b5b5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eaeaea;
}
main.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.header {
    box-shadow: 0 3px 8px var(--color-grey);
}
.header-nav,
.header-nav__item,
.nav__link,
.body-footer__btn,
.body-item  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav {
    list-style: none;
}
.header-nav__item {
    width: calc(100% / 3);
    cursor: pointer;
}
.header-nav__item {
    border-bottom: 1px solid var(--color-grey);
}
.header-nav__item:not(:last-child) {
    border-right: 1px solid var(--color-grey);
}
.nav__img {
    display: flex;
    vertical-align: middle;
    margin-right: 20px;
}
.nav__link {
    width: 100%;
    height: 40px;
    padding: 2em 0;
    font-size: calc(0.75rem + 12 * (100vw - 320px) / 320);
    color: rgb(0, 0, 0);
    line-height: 0.75;
    background-color: #ffffff;
    transition: .2s;
}
.nav__link:active {
    background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
    box-shadow:
        0 0 3px rgba(0,0,0,.5) inset,
        0 1px 1px 1px var(--color-grey),
        0 -1px 1px 1px rgba(0,0,0,.1);
}
section.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 97%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    box-shadow: 1px 3px 8px var(--color-grey);
    overflow: hidden;
    padding-bottom: 55px;
}
.body__header {
    font-size: calc(1.1875rem + 13 * (100vw - 320px) / 320);
    color: rgb(0, 0, 0);
    line-height: 0.563;
    text-align: center;
    padding: 0.625em 0;
    margin-bottom: 1.40625em;
    border-bottom: 1px solid #cccccc;
    background: linear-gradient( rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(245,245,245,1) 75%);
}
.body-item {
    font-size: calc(1.065rem + 11 * (100vw - 320px) / 320);
    color: rgb(0, 0, 0);
    line-height: 1.286;      
}
.body-item:nth-child(3) {
    text-align: center;
    margin-top: 40px;
    font-size: calc(1.065rem + 19 * (100vw - 320px) / 320);
    font-weight: 700;
    line-height: 1.111;
}
.body-item:nth-child(3) p {
    width: 90%;
}
.body-item img {
    margin-right: 25px;
}
.body-footer {
    padding-top: 30px;
}
.body-footer__btn {
    width: 100%;
    max-width: 480px;
    padding: 1.25em 0;
    background: linear-gradient(rgba(81,40,199,1) 0%, rgba(81,40,199,1) 100%);
    color: #ffffff;
    font-size: calc(1.5625rem + 15 * (100vw - 320px) / 320);
    line-height: 0.444;
    margin: 0 auto;
    transition: .2s;
}
.body-footer__btn:active {
    background: linear-gradient(rgb(68, 32, 173) 0%, rgb(60, 27, 160) 100%);
    box-shadow:
        0 0 3px rgba(0,0,0,.7) inset,
        0 1px 1px 1px var(--color-grey),
        0 -1px 1px 1px rgba(0,0,0,.5);
}
.footer {
    padding: 0 10px 25px;
}
.footer__text {
    font-size: calc(0.6875rem + 11 * (100vw - 320px) / 320);
    font-family: "Arial";
    color: rgb(149, 149, 149);
    line-height: 1.2;
    text-align: center;
}
@media screen and (min-width: 991px) {
    section.body {
        width: 55%;
    }
}
@media screen and (min-width: 640px) {
    .nav__link {
        font-size: 24px;
    }
    section.body {
        height: 60%;
    }
    .body__header {
        font-size: 32px;
    }
    .body-item {
        font-size: 28px;
    }
    .footer__text {
        font-size: 22px;
    }
    .body-item:nth-child(3) {
        font-size: 36px;
    }
    .body-footer__btn {
        font-size: 40px;
    }
}
@media screen and (max-width: 415px) {
    section.body {
        padding-bottom: 10px;
    }

    .footer {
        padding: 0 2px 5px;
    }
}
@media screen and (max-width: 561px) {
    .nav__img {
        width: 30px;
        margin-right: 10px;
    }
    .body-item img {
        margin-right: 10px;
        width: 75px;
    }
}
@media screen and (max-width: 320px) {
    .nav__link {
        font-size: 12px;
    }
    .nav__img {
        width: 25px;
        margin-right: 10px;
    }
    section.body {
        padding-bottom: 10px;
    }
    .body__header {
        font-size: 19px;
        margin-bottom: 20px;
    }
    .body-item,
    .body-item:nth-child(3) {
        font-size: 17px;
    }
    .body-item:nth-child(3) {
        margin-top: 15px;
    }
    .body-item:nth-child(3) p {
        width: 75%;
    }
    .body-item img {
        margin-right: 10px;
        width: 50px;
    }
    .body-footer {
        padding-top: 20px;
    }
    .body-footer__btn {
        width: 240px;
        font-size: 25px;
        padding: 30px 0;
    }
    .footer {
        padding: 0 2px 5px;
    }
    .footer__text {
        font-size: 11px;
    }    
}
@media screen and (max-width: 991px) {
    section.body {
        max-width: 600px;
    }
    .body-footer__btn {
        max-width: 80%;
    }
}
@media (orientation: landscape) and (max-width: 815px) {
    .nav__link {
        font-size: 12px;
    }
    .nav__img {
        width: 25px;
        margin-right: 10px;
    }
    section.body {
        max-width: 460px;
        padding-bottom: 15px;
    }
    .body__header {
        font-size: 19px;
        margin-bottom: 20px;
    }
    .body-item,
    .body-item:nth-child(3) {
        font-size: 15px;
    }
    .body-item:nth-child(3) {
        margin-top: 15px;
    }
    .body-item:nth-child(3) p {
        width: 75%;
    }
    .body-item img {
        margin-right: 10px;
        width: 50px;
    }
    .body-footer {
        padding-top: 15px;
    }
    .body-footer__btn {
        width: 240px;
        font-size: 20px;
        padding: 20px 0;
    }
    .footer {
        padding: 0 2px 5px;
    }
    .footer__text {
        font-size: 10px;
    }  
}
@media (orientation: landscape) and (min-width: 816px) {
    .body-footer__btn {
        font-size: 30px;
    }
}
